<div class="wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="form-signin fadeInDown formContent shadow">
        <h1 class="h3 mb-3 fadeIn first">Ingrese al sitio</h1>
        <!--<mat-form-field appearance="fill" class="fadeIn second mb-2">
            <mat-label class="text-white">Usuario</mat-label>
            <input class="text-white" [formControl]="usuarioControl" required matInput>
            <mat-error>Ingrese Nombre Usuario</mat-error>
        </mat-form-field>-->
        <mat-form-field appearance="fill">
            <mat-label class="text-white">Email</mat-label>
            <input type="email" required matInput formControlName="email">
            <mat-error *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')">
                Por favor ingrese un correo válido
            </mat-error>
            <mat-error *ngIf="emailControl.hasError('required')">
                Correo electrónico es <strong>REQUERIDO</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="fadeIn third mb-2">
            <mat-label class="text-white">Ingrese Contraseña</mat-label>
            <input required matInput [type]="hide ? 'password' : 'text'" formControlName="pass">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
            <mat-error>Ingrese Contraseña</mat-error>
        </mat-form-field>
        <div class="checkbox mb-3 fadeIn third ">
            <div>
                <mat-checkbox color="primary">Recuérdame</mat-checkbox>
            </div>
            <div>
                <a routerLink="/registro" class="">
                            ¿No tienes cuenta?
                </a>
                <a routerLink="/sidebar" class="">
                            ¿sidebar?
                </a>
            </div>
        </div>
        <button routerLink="/sidebar" mat-raised-button color="primary" type="submit" class="btn pull-right fadeIn fourth" [disabled]="loginForm.invalid">Ingresar</button>

    </form>

</div>