<div class="main-content animated fadeIn fast">
    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-header card-bg-info shadow">
                    <h5>Título</h5>
                    <p class="card-category"> Subtítulos</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Título en la card</h5>

                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, culpa sint temporibus enim dolores officia porro dolorum voluptates iure facere, consectetur numquam officiis, labore placeat odit iusto nam! Sint, beatae?</p>
                    <button mat-raised-button class="btn-info">Warn</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-header card-bg-info shadow">
                    <h5>Título</h5>
                    <p class="card-category"> Subtítulos</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Título en la card</h5>

                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, culpa sint temporibus enim dolores officia porro dolorum voluptates iure facere, consectetur numquam officiis, labore placeat odit iusto nam! Sint, beatae?</p>
                    <button mat-raised-button class="btn-info">Warn</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-header card-bg-info shadow">
                    <h5>Título</h5>
                    <p class="card-category"> Subtítulos</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Título en la card</h5>

                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, culpa sint temporibus enim dolores officia porro dolorum voluptates iure facere, consectetur numquam officiis, labore placeat odit iusto nam! Sint, beatae?</p>
                    <button mat-raised-button class="btn-info">Warn</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-header card-bg-info shadow">
                    <h5>Título</h5>
                    <p class="card-category"> Subtítulos</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Título en la card</h5>

                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, culpa sint temporibus enim dolores officia porro dolorum voluptates iure facere, consectetur numquam officiis, labore placeat odit iusto nam! Sint, beatae?</p>
                    <button mat-raised-button class="btn-info">Warn</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-header card-bg-info shadow">
                    <h5>Título</h5>
                    <p class="card-category"> Subtítulos</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Título en la card</h5>

                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, culpa sint temporibus enim dolores officia porro dolorum voluptates iure facere, consectetur numquam officiis, labore placeat odit iusto nam! Sint, beatae?</p>
                    <button mat-raised-button class="btn-info">Warn</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-header card-bg-info shadow">
                    <h5>Título</h5>
                    <p class="card-category"> Subtítulos</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Título en la card</h5>

                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, culpa sint temporibus enim dolores officia porro dolorum voluptates iure facere, consectetur numquam officiis, labore placeat odit iusto nam! Sint, beatae?</p>
                    <button mat-raised-button class="btn-info">Warn</button>
                </div>
            </div>
        </div>
    </div>
</div>