<div class="main-content animated fadeIn fast">
    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-header card-bg-info shadow">
                    <h5>Loco esto funciona</h5>
                    <p class="card-category"> Subtítulos</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>

                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <button mat-raised-button class="btn-info">Warn</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-header card-bg-info shadow">
                    <h5>Loco esto funciona</h5>
                    <p class="card-category"> Subtítulos</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>

                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <button mat-raised-button class="btn-info">Warn</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-header card-bg-info shadow">
                    <h5>Loco esto funciona</h5>
                    <p class="card-category"> Subtítulos</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>

                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <button mat-raised-button class="btn-info">Warn</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-header card-bg-info shadow">
                    <h5>Loco esto funciona</h5>
                    <p class="card-category"> Subtítulos</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>

                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <button mat-raised-button class="btn-info">Warn</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-header card-bg-info shadow">
                    <h5>Loco esto funciona</h5>
                    <p class="card-category"> Subtítulos</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>

                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <button mat-raised-button class="btn-info">Warn</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-header card-bg-info shadow">
                    <h5>Loco esto funciona</h5>
                    <p class="card-category"> Subtítulos</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>

                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <button mat-raised-button class="btn-info">Warn</button>
                </div>
            </div>
        </div>
    </div>
</div>