<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidebar class="sidenav shadow" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar class="justify-content-center mt-3" color="primary"><img class="logo" src="/assets/img/angular2-logo-red.png"></mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLinkActive [routerLink]="['vida']">Vida</a>
            <a mat-list-item routerLinkActive [routerLink]="['solucion']">Solucion</a>
            <a mat-list-item routerLinkActive [routerLink]="['otramas']">Otra</a>
            <a mat-list-item routerLinkActive [routerLink]="['division']">Divisiones</a>
            <a mat-list-item routerLinkActive [routerLink]="['descargas']">Descargas</a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidebar.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <span>Dashboar Angular</span>
            <span class="example-spacer"></span>
            <button (click)="logout()" mat-raised-button class="outline" routerLink="login"><mat-icon>power_settings_new</mat-icon> Cerrar Sesión</button>
        </mat-toolbar>
        <ng-content></ng-content>
        <!-- Add Content Here -->
        <app-footer class="footer"></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>