.sidenav-container {
    height: 100%;
    /* background-color: #e2e2e2;*/
    background-color: #303030;
}

.sidenav {
    width: auto;
    min-width: 200px;
    background-color: #c4c4c4;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.mat-nav-list a:hover {
    background-color: #B71C1C;
    color: white;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    animation-name: fadeIn;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer .pull-center {
    display: inline-block;
    float: none;
}

.logo {
    width: 70px;
}

.example-spacer {
    flex: 1 1 auto;
}


/*
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav .nav-item {
    position: relative;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

.nav-link:hover,
.nav-link:focus {
    text-decoration: none;
}

.nav-link.disabled {
    color: #6c757d;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}

.nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fafafa;
    border-color: #dee2e6 #dee2e6 #fafafa;
}

.nav-fill .nav-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
}

.nav-justified .nav-item {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
}*/