<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidebar class="sidenav shadow" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar class="justify-content-center mt-3" color="primary"><img class="logo" src="/assets/img/angular2-logo-red.png"></mat-toolbar>
        <mat-nav-list>
            <ul class="navbar-nav">
                <li class="">
                    <a class="nav-link" mat-list-item routerLinkActive [routerLink]="['pokedex']">Pokedex</a>
                </li>
                <li>
                    <a mat-list-item [routerLink]="['modulo_2']">Módulo 2</a>
                </li>
                <li>
                    <a mat-list-item routerLinkActive [routerLink]="['modulo_3']">Módulo 3</a>
                </li>
                <li>
                    <a mat-list-item routerLinkActive [routerLink]="['modulo_4']">Módulo 4</a>
                </li>
                <li>
                    <a mat-list-item routerLinkActive [routerLink]="['modulo_5']">Módulo 5</a>
                </li>
            </ul>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidebar.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <span>Dashboar Angular</span>
            <span class="example-spacer"></span>
            <button (click)="logout()" mat-raised-button class="outline"><mat-icon>power_settings_new</mat-icon> Cerrar Sesión</button>
        </mat-toolbar>
        <ng-content></ng-content>
        <!-- Add Content Here -->
        <app-footer class="footer"></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>